@media screen and (min-width: 600px) {
  .main-container {
    width: 75%;
    min-width: 500px;
    max-width: 800px;
  }
}
@media screen and (max-width: 500px) {
  .main-container {
    margin-left: 2.5em;
  }
  .resource-list {
    ul li {
      // margin: 0 0 .6em;
      @include fluid-type(34px, 38px);
      text-transform: uppercase;
      letter-spacing: -.9px;
    }
  }
}