.resource-list {
  margin-bottom: 3em;
  h2 {
    @extend %txt--heading;
    color: cc(alttxt, .35);
  }
  ul li {
    margin: 0 0 .6em;
    @include fluid-type(42px, 52px);
    text-transform: uppercase;
    letter-spacing: -.9px;
  }
}